# --- Arquivos Compilados ---
*.o
*.bin
*.elf
os.iso

# --- Logs e Saídas do Emulador ---
bochslog.txt
*.log
com1.out
bochsrc.txt

# --- Configurações de IDE (CLion/IntelliJ) ---
.idea/

# --- Outros arquivos temporários ---
*~
*.swp