# Ignorar arquivos compilados
*.o
*.bin
*.elf
*.iso

# Ignorar logs e arquivos temporários
bochslog.txt
*.log

# Ignorar pastas de build (opcional, se você quiser manter a estrutura iso vazia, não use isso)
# iso/
